services:
  load-balancer:
    build:
      context: ./load-balancer
      dockerfile: Dockerfile.nginx
    ports:
      - "80:80"
    depends_on:
      - service1
      - service2
      - service3
      - prometheus
    labels:
      logging: "promtail"
      logging_jobname: "containerlogs"

  service1:
    build:
      context: ./service1
      dockerfile: Dockerfile
    ports:
      - "3001:3001"
    volumes:
      - ./service1/src:/app/src

  service2:
    build:
      context: ./service2
      dockerfile: Dockerfile
    ports:
      - "3002:3002"
    volumes:
      - ./service2/src:/app/src

  service3:
    build:
      context: ./service3
      dockerfile: Dockerfile
    ports:
      - "3003:3003"
    volumes:
      - ./service3/src:/app/src

  k6:
    build:
      context: ./k6
      dockerfile: Dockerfile
    depends_on:
      - load-balancer
    ports:
      - "6565:6565"

  prometheus:
    image: prom/prometheus
    volumes:
      - ./prometheus.yml:/prometheus.yml
      - ./prometheus/data:/prometheus
    command:
      - '--config.file=/prometheus.yml'
    ports:
      - "9090:9090"
    depends_on:
      - nginx-exporter

  grafana:
    image: grafana/grafana
    ports:
      - "3000:3000"
    volumes:
      - ./grafana/data:/var/lib/grafana
    depends_on:
      - prometheus
      - loki
    environment:
      - GF_SECURITY_ADMIN_PASSWORD=admin

  nginx-exporter:
    image: nginx/nginx-prometheus-exporter:latest
    ports:
      - "9113:9113"
    command:
      - '-nginx.scrape-uri=http://load-balancer/metrics'

  loki:
    image: grafana/loki:latest
    ports:
      - "3100:3100"
    command: -config.file=/etc/loki/local-config.yaml

  promtail:
    image: grafana/promtail:latest
    volumes:
      - ./promtail-config.yml:/etc/promtail/promtail-config.yml
      - ./nginx_logs:/var/log/nginx
    command: -config.file=/etc/promtail/promtail-config.yml
    depends_on:
      - loki
