services:
  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    volumes:
      - ./frontend:/app
      - /app/node_modules
    ports:
      - '5173:5173'
    networks:
      - app-network

  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    ports:
      - '8000:8000'
    networks:
      - app-network

  api-gateway:
    build:
      context: ./gateway
      dockerfile: Dockerfile
    ports:
      - '8080:80'
    networks:
      - app-network
    depends_on:
      - backend

networks:
  app-network:
    driver: bridge
